ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}



* { font-family: 'Noto Sans KR', sans-serif;}

.modal {
  display: block;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999999;

  width: 100%;
  height: 100vh;

  overflow-y: hidden;

  background: rgba(0, 0, 0, 0.5);
}
.modal_close {
  position: absolute;
  right: 510px;
  top: 80px;
  z-index: 99999999;

  width: 36px;
  height: 36px;
  background: transparent;
  border: 5px solid #fff;

  color: #fff;
  text-align: center;
  cursor: pointer;

  font-size: 20px;
  font-weight: 800;

  display: flex;
  align-items: center;
}
.modal_item_popup {
  position: absolute;
  left: 50%;
  top: 50%;

  background-color: #fff;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 800px;
  padding: 20px;

  box-sizing: border-box;
  overflow-y: scroll;
}

/* modal_banner */
.modal_banner {
  position: relative;
}

.modal_banner_box {

  padding-bottom: 56%;
}
.modal_banner_title {
}

.modal_desc {
  width: 100%;
  box-sizing: border-box;
  color: #000;
}
.modal_sec {
  margin-bottom: 40px;
}
.modal_sec_haed {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  
  margin-bottom: 7px;
}
.modal_sec_haed > img {
  width: 16px;
  height: 16px;
}
.modal_sec_haed > h5 {
  font-size: 16px;
  margin: 0;
}
.modal_sec_body {
  padding-left: 25px;
  letter-spacing: 1.3px;
}
.modal_skil_box {
  display: flex;
  column-gap: 90px;
}

.site a {
  text-decoration: dashed;
  color: #2c98f0;
}
.github a {
  text-decoration: dashed;
  color: #2c98f0;
}